# Notebook Title

## Setup Python and R environment
you can ignore this section

In [1]:
%load_ext rpy2.ipython
%load_ext autoreload
%autoreload 2

%matplotlib inline  
from matplotlib import rcParams
rcParams['figure.figsize'] = (16, 100)

import warnings
from rpy2.rinterface import RRuntimeWarning
warnings.filterwarnings("ignore") # Ignore all warnings
# warnings.filterwarnings("ignore", category=RRuntimeWarning) # Show some warnings

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, HTML

ÊñºÂïüÂãïÊúüÈñì - Ë≠¶ÂëäË®äÊÅØÔºö
1: Setting LC_COLLATE failed, using "C"
2: Setting LC_TIME failed, using "C"
3: Setting LC_MESSAGES failed, using "C"
4: Setting LC_MONETARY failed, using "C"

In [2]:
%%javascript
// Disable auto-scrolling
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [3]:
%%R

# My commonly used R imports

require('tidyverse')

‚îÄ‚îÄ Attaching core tidyverse packages ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ tidyverse 2.0.0 ‚îÄ‚îÄ
‚úî dplyr     1.1.4     ‚úî readr     2.1.5
‚úî forcats   1.0.0     ‚úî stringr   1.5.1
‚úî ggplot2   3.4.4     ‚úî tibble    3.2.1
‚úî lubridate 1.9.3     ‚úî tidyr     1.3.0
‚úî purrr     1.0.2
‚îÄ‚îÄ Conflicts ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ tidyverse_conflicts() ‚îÄ‚îÄ
‚úñ dplyr::filter() masks stats::filter()
‚úñ dplyr::lag()    masks stats::lag()
‚Ñπ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

ËºâÂÖ•ÈúÄË¶ÅÁöÑÂ•ó‰ª∂Ôºötidyverse

## Load & Clean Data

üëâ Load the data along with the census connectors below (the output of the `connect-to-census.ipynb` notebook) and do any cleanup you'd like to do.

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
#read csv "ny.csv" into a pandas dataframe
df_ny = pd.read_csv("ny.csv")
df_ny

,CensusTract,State,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,36001000100,New York,Albany County,1,2139,784,0,79.0,3.69,1,...,218.0,506.0,1396.0,55.0,0.0,9.0,173.0,198.0,179.0,276.0
1,36001000200,New York,Albany County,1,6046,2514,0,84.0,1.39,1,...,401.0,840.0,4647.0,57.0,0.0,12.0,490.0,648.0,895.0,960.0
2,36001000300,New York,Albany County,1,5888,2581,0,193.0,3.28,1,...,859.0,2941.0,2199.0,213.0,1.0,19.0,515.0,615.0,708.0,554.0
3,36001000401,New York,Albany County,1,2227,1017,0,575.0,25.82,0,...,1088.0,1921.0,205.0,56.0,0.0,2.0,43.0,53.0,139.0,5.0
4,36001000403,New York,Albany County,1,4415,2196,0,15.0,0.34,0,...,679.0,3386.0,427.0,443.0,1.0,5.0,153.0,201.0,437.0,286.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4865,36123150100,New York,Yates County,0,5942,2200,0,134.0,2.26,0,...,1015.0,5787.0,54.0,19.0,1.0,8.0,73.0,110.0,302.0,289.0
4866,36123150200,New York,Yates County,0,5561,2138,0,287.0,5.16,0,...,1074.0,5363.0,57.0,16.0,0.0,7.0,118.0,110.0,421.0,139.0
4867,36123150300,New York,Yates County,0,5348,2074,0,38.0,0.71,0,...,747.0,5248.0,23.0,16.0,0.0,6.0,55.0,49.0,122.0,213.0
4868,36123150400,New York,Yates County,0,3973,1369,0,828.0,20.84,0,...,626.0,3823.0,53.0,26.0,3.0,10.0,58.0,79.0,39.0,53.0
4869,36123150500,New York,Yates County,0,4524,1736,0,0.0,0.00,0,...,754.0,4426.0,16.0,20.0,0.0,7.0,55.0,73.0,270.0,198.0

In [14]:
#change the column name of "CensusTract" to "GEOID"
df_ny.rename(columns = {'CensusTract':'GEOID'}, inplace = True)
df_ny

,GEOID,State,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,36001000100,New York,Albany County,1,2139,784,0,79.0,3.69,1,...,218.0,506.0,1396.0,55.0,0.0,9.0,173.0,198.0,179.0,276.0
1,36001000200,New York,Albany County,1,6046,2514,0,84.0,1.39,1,...,401.0,840.0,4647.0,57.0,0.0,12.0,490.0,648.0,895.0,960.0
2,36001000300,New York,Albany County,1,5888,2581,0,193.0,3.28,1,...,859.0,2941.0,2199.0,213.0,1.0,19.0,515.0,615.0,708.0,554.0
3,36001000401,New York,Albany County,1,2227,1017,0,575.0,25.82,0,...,1088.0,1921.0,205.0,56.0,0.0,2.0,43.0,53.0,139.0,5.0
4,36001000403,New York,Albany County,1,4415,2196,0,15.0,0.34,0,...,679.0,3386.0,427.0,443.0,1.0,5.0,153.0,201.0,437.0,286.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4865,36123150100,New York,Yates County,0,5942,2200,0,134.0,2.26,0,...,1015.0,5787.0,54.0,19.0,1.0,8.0,73.0,110.0,302.0,289.0
4866,36123150200,New York,Yates County,0,5561,2138,0,287.0,5.16,0,...,1074.0,5363.0,57.0,16.0,0.0,7.0,118.0,110.0,421.0,139.0
4867,36123150300,New York,Yates County,0,5348,2074,0,38.0,0.71,0,...,747.0,5248.0,23.0,16.0,0.0,6.0,55.0,49.0,122.0,213.0
4868,36123150400,New York,Yates County,0,3973,1369,0,828.0,20.84,0,...,626.0,3823.0,53.0,26.0,3.0,10.0,58.0,79.0,39.0,53.0
4869,36123150500,New York,Yates County,0,4524,1736,0,0.0,0.00,0,...,754.0,4426.0,16.0,20.0,0.0,7.0,55.0,73.0,270.0,198.0

In [19]:
df_co = pd.read_csv("co.csv")
df_co

,CensusTract,State,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,8001007801,Colorado,Adams County,1,3732,1191,0,166.0,4.45,0,...,112.0,1452.0,571.0,288.0,13.0,59.0,1349.0,2348.0,317.0,363.0
1,8001007802,Colorado,Adams County,1,3758,1240,0,30.0,0.80,0,...,194.0,1484.0,588.0,86.0,11.0,83.0,1506.0,2631.0,403.0,504.0
2,8001007900,Colorado,Adams County,1,5555,1780,0,16.0,0.29,0,...,255.0,2398.0,872.0,122.0,21.0,117.0,2025.0,3544.0,215.0,391.0
3,8001008000,Colorado,Adams County,1,5742,1726,0,3.0,0.05,0,...,431.0,2873.0,957.0,137.0,18.0,105.0,1652.0,3168.0,89.0,370.0
4,8001008100,Colorado,Adams County,1,854,314,0,248.0,29.04,1,...,176.0,543.0,84.0,89.0,0.0,6.0,132.0,207.0,57.0,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1237,8123002300,Colorado,Weld County,0,4619,1725,0,0.0,0.00,0,...,539.0,4140.0,11.0,36.0,2.0,42.0,388.0,988.0,60.0,135.0
1238,8123002501,Colorado,Weld County,0,4843,1862,0,10.0,0.21,0,...,561.0,4488.0,8.0,8.0,5.0,45.0,289.0,498.0,56.0,121.0
1239,8123002502,Colorado,Weld County,0,5656,2012,0,9.0,0.16,0,...,561.0,5053.0,28.0,26.0,4.0,52.0,493.0,1011.0,40.0,130.0
1240,8125963100,Colorado,Yuma County,0,4602,1799,0,145.0,3.15,1,...,726.0,4195.0,8.0,12.0,2.0,28.0,357.0,686.0,106.0,187.0
1241,8125963200,Colorado,Yuma County,0,5441,2153,0,51.0,0.94,1,...,897.0,4666.0,10.0,11.0,1.0,22.0,731.0,1402.0,75.0,184.0

In [20]:
df_co.rename(columns = {'CensusTract':'GEOID'}, inplace = True)
df_co

,GEOID,State,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,8001007801,Colorado,Adams County,1,3732,1191,0,166.0,4.45,0,...,112.0,1452.0,571.0,288.0,13.0,59.0,1349.0,2348.0,317.0,363.0
1,8001007802,Colorado,Adams County,1,3758,1240,0,30.0,0.80,0,...,194.0,1484.0,588.0,86.0,11.0,83.0,1506.0,2631.0,403.0,504.0
2,8001007900,Colorado,Adams County,1,5555,1780,0,16.0,0.29,0,...,255.0,2398.0,872.0,122.0,21.0,117.0,2025.0,3544.0,215.0,391.0
3,8001008000,Colorado,Adams County,1,5742,1726,0,3.0,0.05,0,...,431.0,2873.0,957.0,137.0,18.0,105.0,1652.0,3168.0,89.0,370.0
4,8001008100,Colorado,Adams County,1,854,314,0,248.0,29.04,1,...,176.0,543.0,84.0,89.0,0.0,6.0,132.0,207.0,57.0,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1237,8123002300,Colorado,Weld County,0,4619,1725,0,0.0,0.00,0,...,539.0,4140.0,11.0,36.0,2.0,42.0,388.0,988.0,60.0,135.0
1238,8123002501,Colorado,Weld County,0,4843,1862,0,10.0,0.21,0,...,561.0,4488.0,8.0,8.0,5.0,45.0,289.0,498.0,56.0,121.0
1239,8123002502,Colorado,Weld County,0,5656,2012,0,9.0,0.16,0,...,561.0,5053.0,28.0,26.0,4.0,52.0,493.0,1011.0,40.0,130.0
1240,8125963100,Colorado,Yuma County,0,4602,1799,0,145.0,3.15,1,...,726.0,4195.0,8.0,12.0,2.0,28.0,357.0,686.0,106.0,187.0
1241,8125963200,Colorado,Yuma County,0,5441,2153,0,51.0,0.94,1,...,897.0,4666.0,10.0,11.0,1.0,22.0,731.0,1402.0,75.0,184.0

## üëâ Grab Census Data

1. loading the Census API key

In [21]:
import dotenv

# Load the environment variables
# (loads CENSUS_API_KEY from .env)
dotenv.load_dotenv()

False

In [26]:
%%R 

require('tidycensus')

# because it an environment variable, we don't have to 
# explicitly pass this string to R, it is readable here
# in this R cell.
census_api_key(Sys.getenv("a05bd3a5ffc1c1ec5b71f6ea187226b05168a19a"), install = TRUE, overwrite = TRUE)

[1] ""

Your original .Renviron will be backed up and stored in your R HOME directory if needed.
Your API key has been stored in your .Renviron and can be accessed by Sys.getenv("CENSUS_API_KEY").
To use now, restart R or run `readRenviron("~/.Renviron")`

In [29]:
%%R
readRenviron("~/.Renviron")

2. Decide which Census variables you want

    Use <https://censusreporter.org/> to figure out which tables you want. (if censusreporter is down, check out the code in the cell below)

    -   Scroll to the bottom of the page to see the tables.
    -   If you already know the table ID, stick that in the "Explore" section to learn more about that table.

    By default this code loads (B01003_001) which we found in censusreporter here: https://censusreporter.org/tables/B01003/

    - find some other variables that you're also interested in
    - don't forget to pick a geography like "tract", "county" or "block group". here is the list of [all geographies](https://walker-data.com/tidycensus/articles/basic-usage.html#geography-in-tidycensus
    ).

In [89]:
%%R 
# Finding the Census Varaibles for the ACS 5 year survey
# Generall you'd do this in CensusReporter, but since it's down sometimes, here it is using tidycensus's load_variables function

# get every single variable in the ACS5
all_census_vars <- load_variables(2021, "acs5", cache = TRUE) 

filtered_census_vars <- all_census_vars %>% 
    filter(grepl("median income", label, ignore.case = TRUE))   # filter to those containing "median income"
    
# write to CSV so we can view it in python
filtered_census_vars %>% 
    write_csv("filtered_census_vars.csv")

# show the first few rows
filtered_census_vars %>%
    select(-geography) %>% # remove the geography column
    print(n = 20) # print the first 20 rows

# A tibble: 46 √ó 3
   name         label                                                    concept
   <chr>        <chr>                                                    <chr>
 1 B06011PR_001 Estimate!!Median income in the past 12 months --!!Total: MEDIAN‚Ä¶
 2 B06011PR_002 Estimate!!Median income in the past 12 months --!!Total‚Ä¶ MEDIAN‚Ä¶
 3 B06011PR_003 Estimate!!Median income in the past 12 months --!!Total‚Ä¶ MEDIAN‚Ä¶
 4 B06011PR_004 Estimate!!Median income in the past 12 months --!!Total‚Ä¶ MEDIAN‚Ä¶
 5 B06011PR_005 Estimate!!Median income in the past 12 months --!!Total‚Ä¶ MEDIAN‚Ä¶
 6 B06011_001   Estimate!!Median income in the past 12 months --!!Total: MEDIAN‚Ä¶
 7 B06011_002   Estimate!!Median income in the past 12 months --!!Total‚Ä¶ MEDIAN‚Ä¶
 8 B06011_003   Estimate!!Median income in the past 12 months --!!Total‚Ä¶ MEDIAN‚Ä¶
 9 B06011_004   Estimate!!Median income in the past 12 months --!!Total‚Ä¶ MEDIAN‚Ä¶
10 B06011_005   Estimate!!Median income in the past 12 months --!!Total‚Ä¶ MEDIAN‚Ä¶
11 B07011PR_001 Estimate!!Median income in the past 12 months --!!Total: MEDIAN‚Ä¶
12 B07011PR_002 Estimate!!Median income in the past 12 months --!!Total‚Ä¶ MEDIAN‚Ä¶
13 B07011PR_003 Estimate!!Median income in the past 12 months --!!Total‚Ä¶ MEDIAN‚Ä¶
14 B07011PR_004 Estimate!!Median income in the past 12 months --!!Total‚Ä¶ MEDIAN‚Ä¶
15 B07011PR_005 Estimate!!Median income in the past 12 months --!!Total‚Ä¶ MEDIAN‚Ä¶
16 B07011PR_006 Estimate!!Median income in the past 12 months --!!Total‚Ä¶ MEDIAN‚Ä¶
17 B07011_001   Estimate!!Median income in the past 12 months --!!Total: MEDIAN‚Ä¶
18 B07011_002   Estimate!!Median income in the past 12 months --!!Total‚Ä¶ MEDIAN‚Ä¶
19 B07011_003   Estimate!!Median income in the past 12 months --!!Total‚Ä¶ MEDIAN‚Ä¶
20 B07011_004   Estimate!!Median income in the past 12 months --!!Total‚Ä¶ MEDIAN‚Ä¶
# ‚Ñπ 26 more rows
# ‚Ñπ Use `print(n = ...)` to see more rows

In [100]:
%%R -o ny_census_data



ny_census_data <- get_acs(geography = "tract", 
                      state='NY',
                      variables = c(
                        population="B01003_001E",
                        med_inc="B19013_001E",
                        no_computer="B28003_006E",
                        no_internet="B28002_013E"
                        # unem_dis="B18120_013E"
                      ), 
                      year = 2019,
                      survey="acs5",
                      geometry=F)
# pivot wide the data so that each variable is a column
ny_census_data

# A tibble: 19,672 √ó 5
   GEOID       NAME                                    variable   estimate   moe
   <chr>       <chr>                                   <chr>         <dbl> <dbl>
 1 36001000100 Census Tract 1, Albany County, New York B01003_001     2035   241
 2 36001000100 Census Tract 1, Albany County, New York B19013_001    32389 12524
 3 36001000100 Census Tract 1, Albany County, New York B28002_013      126    48
 4 36001000100 Census Tract 1, Albany County, New York B28003_006       83    37
 5 36001000200 Census Tract 2, Albany County, New York B01003_001     4793   681
 6 36001000200 Census Tract 2, Albany County, New York B19013_001    27714  3824
 7 36001000200 Census Tract 2, Albany County, New York B28002_013      421   178
 8 36001000200 Census Tract 2, Albany County, New York B28003_006      214   109
 9 36001000300 Census Tract 3, Albany County, New York B01003_001     6147   951
10 36001000300 Census Tract 3, Albany County, New York B19013_001    45272 10059
# ‚Ñπ 19,662 more rows
# ‚Ñπ Use `print(n = ...)` to see more rows

Getting data from the 2015-2019 5-year ACS
Using FIPS code '36' for state 'NY'

In [101]:
df = ny_census_data

In [107]:
census_df = df.pivot_table(
    index=["GEOID", "NAME"], 
    columns="variable", 
    values="estimate", 
    aggfunc='first'
).reset_index()

# rename the column names to something more readable 

census_df.columns = [
    "GEOID", "NAME", "Population", "Median Income", "No Computer", "No Internet"
]
census_df

,GEOID,NAME,Population,Median Income,No Computer,No Internet
0,36001000100,"Census Tract 1, Albany County, New York",2035.0,32389.0,126.0,83.0
1,36001000200,"Census Tract 2, Albany County, New York",4793.0,27714.0,421.0,214.0
2,36001000300,"Census Tract 3, Albany County, New York",6147.0,45272.0,335.0,281.0
3,36001000401,"Census Tract 4.01, Albany County, New York",2362.0,74274.0,140.0,143.0
4,36001000403,"Census Tract 4.03, Albany County, New York",4253.0,74426.0,308.0,304.0
...,...,...,...,...,...,...
4913,36123150100,"Census Tract 1501, Yates County, New York",6288.0,54330.0,462.0,383.0
4914,36123150200,"Census Tract 1502, Yates County, New York",5440.0,47586.0,574.0,482.0
4915,36123150300,"Census Tract 1503, Yates County, New York",5092.0,55694.0,392.0,281.0
4916,36123150400,"Census Tract 1504, Yates County, New York",3763.0,71774.0,178.0,189.0
4917,36123150500,"Census Tract 1505, Yates County, New York",4428.0,55417.0,399.0,353.0

In [111]:
df_ny.GEOID = df_ny.GEOID.astype(str)

In [114]:
df = df_ny.merge(census_df, on="GEOID")
df

,GEOID,State,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP,NAME,Population,Median Income,No Computer,No Internet
0,36001000100,New York,Albany County,1,2139,784,0,79.0,3.69,1,...,9.0,173.0,198.0,179.0,276.0,"Census Tract 1, Albany County, New York",2035.0,32389.0,126.0,83.0
1,36001000200,New York,Albany County,1,6046,2514,0,84.0,1.39,1,...,12.0,490.0,648.0,895.0,960.0,"Census Tract 2, Albany County, New York",4793.0,27714.0,421.0,214.0
2,36001000300,New York,Albany County,1,5888,2581,0,193.0,3.28,1,...,19.0,515.0,615.0,708.0,554.0,"Census Tract 3, Albany County, New York",6147.0,45272.0,335.0,281.0
3,36001000401,New York,Albany County,1,2227,1017,0,575.0,25.82,0,...,2.0,43.0,53.0,139.0,5.0,"Census Tract 4.01, Albany County, New York",2362.0,74274.0,140.0,143.0
4,36001000403,New York,Albany County,1,4415,2196,0,15.0,0.34,0,...,5.0,153.0,201.0,437.0,286.0,"Census Tract 4.03, Albany County, New York",4253.0,74426.0,308.0,304.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4865,36123150100,New York,Yates County,0,5942,2200,0,134.0,2.26,0,...,8.0,73.0,110.0,302.0,289.0,"Census Tract 1501, Yates County, New York",6288.0,54330.0,462.0,383.0
4866,36123150200,New York,Yates County,0,5561,2138,0,287.0,5.16,0,...,7.0,118.0,110.0,421.0,139.0,"Census Tract 1502, Yates County, New York",5440.0,47586.0,574.0,482.0
4867,36123150300,New York,Yates County,0,5348,2074,0,38.0,0.71,0,...,6.0,55.0,49.0,122.0,213.0,"Census Tract 1503, Yates County, New York",5092.0,55694.0,392.0,281.0
4868,36123150400,New York,Yates County,0,3973,1369,0,828.0,20.84,0,...,10.0,58.0,79.0,39.0,53.0,"Census Tract 1504, Yates County, New York",3763.0,71774.0,178.0,189.0
4869,36123150500,New York,Yates County,0,4524,1736,0,0.0,0.00,0,...,7.0,55.0,73.0,270.0,198.0,"Census Tract 1505, Yates County, New York",4428.0,55417.0,399.0,353.0

In [3]:
#rename the columns
df.rename(columns = {'POP2010':'Population',
                    'OHU2010':'Housing_Units',
                    'LILATracts_1And10':'Low_Income_1and10',
                    'LILATracts_halfAnd10':'Low_Income_1/2and10',
                    'LILATracts_Vehicle':'Low_Income_Vehicle',
                    'LILATracts_1And20':'Low_Income_1and20'
                     }, inplace = True)

NameError: name 'df' is not defined

In [2]:
#save df to csv as "merged_food_access_data.csv"
df.to_csv("merged_food_access_data.csv", index=False)

NameError: name 'df' is not defined

## üëâ Merge it with your data

hint...`tidycensus` provides you data in long format you may need to pivot the census data from long to wide format before merging it with your data

In [115]:
%%R

ny_census_data <- ny_census_data %>% 
  # pivot from wide to long
  pivot_wider(
    names_from=variable, 
    values_from = c(estimate, moe),
    names_glue = "{variable}_{.value}"
  )

ny_census_data

# A tibble: 4,918 √ó 10
   GEOID       NAME  B01003_001_estimate B19013_001_estimate B28002_013_estimate
   <chr>       <chr>               <dbl>               <dbl>               <dbl>
 1 36001000100 Cens‚Ä¶                2035               32389                 126
 2 36001000200 Cens‚Ä¶                4793               27714                 421
 3 36001000300 Cens‚Ä¶                6147               45272                 335
 4 36001000401 Cens‚Ä¶                2362               74274                 140
 5 36001000403 Cens‚Ä¶                4253               74426                 308
 6 36001000404 Cens‚Ä¶                5082                  NA                   0
 7 36001000501 Cens‚Ä¶                3523               32165                 344
 8 36001000502 Cens‚Ä¶                3785               60263                  74
 9 36001000600 Cens‚Ä¶                3663               22298                 132
10 36001000700 Cens‚Ä¶                3885               36639                 292
# ‚Ñπ 4,908 more rows
# ‚Ñπ 5 more variables: B28003_006_estimate <dbl>, B01003_001_moe <dbl>,
#   B19013_001_moe <dbl>, B28002_013_moe <dbl>, B28003_006_moe <dbl>
# ‚Ñπ Use `print(n = ...)` to see more rows